body{
    font-family: 'Fjalla One';
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #28A0F6;
  }

  #header {
    font-family: 'Cinzel';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #EAC240;
  }

  #logo1{
    width: 190px;
  }