/*@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap'); */

.navbar{
  background-color: #FFB300;
  
  
}
footer{
  
  background: linear-gradient(#73C2FB, #73C2FB, #28A0F6);
}
ul {
  list-style-type: none; /* Quita los puntos */
    }

    a {
      color: black;
      text-decoration: none; /* Opcional: Para eliminar el subrayado */
    }