 /* Aqui empieza el header */
 .navbar {
    background-color: #FFC107;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Agrega una ligera sombra */
}

.navbar-brand img {
    margin-right: 10px; /* Añade espacio entre el logo y el texto */
}

.navbar-nav .nav-item {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.search-bar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 8px 15px;
    font-size: 14px;
}


/* Aqui empieza el formulario */
body {
    font-family: "Cinzel Decorative";
    font-size: 8pt;
    background-color: white; /* Fondo suave y agradable */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: black;
    font-size: 2em;
    text-align: center;
    margin-top: 20px; /* Asegura que esté cerca de la parte superior */
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}
form {
    background: linear-gradient(#fc94b7, #E91E63);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

label {
    font-size: 1em;
    color: #2e2d2d;
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 12px;
    background-color: #f0f3f5;
}

input[type="submit"],
input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #73C2FB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 10px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #2980b9;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

center {
    display: block;
    margin-top: 20px;
}

#registrarse{
    background-color: #73C2FB;
}

/* Aqui empieza el footer */
    .footer {
        width: 100%;
        margin: 0;
        background: linear-gradient(#73C2FB, #73C2FB, #28A0F6);
        padding: 50px 0;
    }
    
    .footer-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .footer-links {
        flex-basis: 25%; /* Mantiene el 25% en pantallas grandes */
        padding: 0 20px;
    }
    
    .footer-links ul {
        padding-left: 0;
        list-style-type: none;
    }
    
    .footer-links ul li {
        margin: 5px 0;
    }
    
    .footer-links h4 {
        font-size: 20px;
        color: black;
        margin-bottom: 25px;
        font-weight: 500;
        border-bottom: 2px solid #73C2FB;
        padding-bottom: 10px;
        display: inline-block;
    }
    
    /* Estilos responsivos para dispositivos móviles */
    @media (max-width: 768px) {
        .navbar-brand, .navbar-nav, .search-bar {
            flex-direction: column;
            align-items: center;
        }
    
        .navbar-nav {
            gap: 10px;
        }
        
        .search-bar {
            margin-top: 10px;
            width: 100%;
        }
    
        .footer-row {
            flex-direction: column;
            text-align: center;
        }
    
        form {
            width: 100%;
            margin: 20px;
        }
    }
    